<div style="text-align:center">
  <h1>{{ title }}!</h1>

  <br><br>
  
  <br><br>
  <select name="inverseNum" [(ngModel)]="inverseNum">
    <option value="true">[!]</option>
    <option value="false">[&nbsp;]</option>
  </select>

  <input type="number" name="num1" [(ngModel)]="num1">

  <select name="andorman" [(ngModel)]="andorman">
    <option value="true">[&amp;&amp;]</option>
    <option value="false">[||]</option>
  </select>

  <input type="number" name="num2" [(ngModel)]="num2">

  <button (click)="calculateTable()">Calculate</button>

  <br><br>
  <table class="resultTable">
    <tr>
      <th>ВВОД</th>
      <th>1</th>
      <th>0</th>
    </tr>
    <tr>
      <td>1</td>
      <td>{{onexone}}</td>
      <td>{{onexzero}}</td>
    </tr>
    <tr>
      <td>0</td>
      <td>{{zeroxone}}</td>
      <td>{{zeroxzero}}</td>
    </tr>
  </table>
  <br><br>

  <h3>Сообщение : {{result}}</h3>

</div>
<router-outlet></router-outlet>